html, body {
    background-color: #352248;
  }
  h1, h2, h3, h4, h5, p, ul, tr, article, a {
    color:rgb(255, 255, 255)
  }

  p, ul, tr, article, a, h3, h5 {
    font-size: x-large
  }

  h1 {
    font-size: 70px;
  }
  
  header {
    font-size: 70px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
      0px 0px 20px #b393d3;
  }

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

img, iframe {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
}


h2 {
    text-align: center;
}

.banner {
    text-align: center;
    height: 160px;
    padding: 5px;
    margin-left: 0;
    font-size: 90px;
    font-style: normal;
    color: #ffffff;
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/philadelphia-philly-skyline-at-dusk-from-near-south-color-panorama-jon-holiday.jpg);
}

.menu {
    text-align: justify;
    cursor: pointer;
    position: relative;
    list-style-type: none;
    display: flex;
    list-style: none;
 
    margin: 0%;
    padding: 0;
}

.menu li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin-left: 100px;
}

.menu li a:hover {
    color: rgb(143, 54, 176);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgb(233, 226, 243);
}

.menu li a:active {
    color: red;
  }

.menu li a:visited {
    color: black;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgb(233, 226, 243);
}

#main-heading {
    display: block;
    text-align: center;
}

#task p {
    padding: 0%;
    margin: 0%;
    text-align: left; 
}

a[href*="@"] {
    background-color: silver;
  }

  a[li*="Full Name"] {
    background-color: silver;
  }
